*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, p {
	font-family: 'Montserrat', sans-serif;
	margin: 4% 0 0 0;
}

p {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	color: #505050;
	line-height: 160%;
}

.h2 {
	font-size: 40px;
	font-weight: 900;
	color: #33C3FF;
}
	.h2.white.margin-0:after {
		content: "";
		display: block;
		width: 100%;
		max-width: 400px;
		height: 3px;
		background-color: #fff;
		margin: 0.5% 0 1.5% 0;
	}

/*HEADER*/
.header {
	background-color: #33C3FF;
	box-shadow: 0 5px 5px rgb(123, 123, 123);
}
.logo {
	width: 100%;
	height: auto;
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 0.4%;
	display: block;
}

.first_p {
	text-align: left;
	margin: 2% auto;;
	font-weight: 500;
}
	.first_p span {
		color: #33C3FF;
		font-weight: 900;
	}

.flex_section {
	display: flex;
	flex-direction: row-reverse;
	order: 0;
	margin-bottom: 5%;
}
	.img {
		order: 1;
		width: 30%;
		max-width: 100%;
	}

/*RIGHT*/
.right {
	text-align: right;
}

/*CENTER*/
.center {
	text-align: center;
}

/*WHITE*/
.white {
	color: #fff;
}

/*GOLD*/
.gold {
	color: #ffecc7;
}

/*BLUE*/
.section--blue {
	background-color: #33C3FF;
}

/*MARGIN 0*/
.margin-0 {
	margin: 0;
}

/*MARGIN BOTTOM*/
.margin-bottom {
	margin-bottom: 4%;
}

/*MORE PADDING*/
.more-padding {
	padding: 4%;
}

/*CLUE*/
.clues_section {
	display: flex;
}
.clue_block {
	border: 1px solid #FFAA05;
	padding: 1% 3%;
	width: 70%;
	margin: 3% auto;
}
	.clue_block--end {
		border: 1px solid #FFAA05;
	}

.clue_block__header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1%;
	text-transform: uppercase;
}
	.fas.fa-info-circle {
		margin-right: 1%;
		font-size: 1.5em;
		color: #FFAA05;
	}

/*WIDTH*/
.width-40 {
	width: 40%;
}

/*GAME LINKS*/
.game_links {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #fff;
	margin-top: 4%;
}

.game_link__item {
	width: 50%;
	max-width: 200px;
	margin: 0 2%;
}
	.game_link__item a {
		transition: all .3s;
		color: #fff;
		text-decoration: none;
		display: block;
	}
	.game_link__item a:hover {
		color: #FFAA05;
		transform: scale(1.1);
	}
	.game_link__item i {
		font-size: 7em;
	}

.game_link__text {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 200;
	margin-top: 3%;
}

/*SOCIAL LINKS*/

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}
.social__item {
	width: 50%;
	max-width: 200px;
	margin: 0 -3%;
}
	.social__item i {
		font-size: 4em;
	}

.social__item a {
	transition: all .3s;
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 50%;
}
.social__item a:hover {
	color: #FFAA05;
	transform: scale(1.1);
}

.social__text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
	margin-top: 10%;
}



/*LAST*/
.last_p {
	text-align: center;
	margin-bottom: 2%;
}