*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, p {
	font-family: 'Montserrat', sans-serif;
	margin: 4% 0 0 0;
}
	.h1 {
		margin: 0;
		font-size: 40px;
		font-weight: 900;
		color: #33C3FF;

	}
		.h1 span {
			display: none;
		}

p {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	color: #505050;
	line-height: 160%;
}

.h2 {
	font-size: 40px;
	font-weight: 900;
	color: #33C3FF;
}

	.h2--number2 {
		text-align: left;
	}

	.h2--first {
		text-align: center;
		margin-top: 0;
	}

/*HEADER*/
.header {
	background-color: #33C3FF;
	-webkit-box-shadow: 0 5px 5px rgb(123, 123, 123);
	        box-shadow: 0 5px 5px rgb(123, 123, 123);
}
.logo {
	width: 100%;
	height: auto;
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 0.4%;
	display: block;
}

.first_p {
	text-align: left;
	margin: 2% auto;;
	font-weight: 500;
}
	.first_p span {
		color: #33C3FF;
		font-weight: 900;
	}

.flex_section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;

	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
	margin-bottom: 2%;
}
	.recording {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		width: 30%;
		max-width: 100%;
		-o-object-fit: contain;
		   object-fit: contain;
	}

/*RIGHT*/
.right {
	text-align: right;
}

/*CENTER*/
.center {
	text-align: center;
}

/*WHITE*/
.white {
	color: #fff;
}

/*GOLD*/
.gold {
	color: #ffecc7;
}

/*BLUE*/
.section--blue {
	background-color: #33C3FF;
}

/*MARGIN 0*/
.margin-0 {
	margin: 0;
}

/*MARGIN BOTTOM 4*/
.margin-bottom {
	margin-bottom: 4%;
}

/*MORE PADDING*/
.more-padding {
	padding: 4%;
}

/*CLUE*/
.clues_section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.clue_block {
	border: 1px solid #FFAA05;
	padding: 1% 3%;
	width: 70%;
	margin: 3% auto;
}
	.clue_block--first {
		margin: 0;
		border: 0;
		padding: 0;
		background-color: #33C3FF;
		width: 100%;
		text-align: left;
	}
		.clue_block--first .clue_block__header {
			text-align: left;
			justify-content: start;
			margin-left: 0;
		}
			.clue_block--first .clue_block__header i {
				color: #fff;
			}

	.clue_block--end {
		border: 1px solid #fff;
		text-align: center;
	}
	.fas.fa-info-circle.last_i {
			color: #fff;
		}

.clue_block__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 1%;
	text-transform: uppercase;
}
	.fas.fa-info-circle {
		margin-right: 1%;
		font-size: 1.5em;
		color: #FFAA05;
	}

/*WIDTH*/
.width-40 {
	width: 40%;
}
	.email_link {
		text-decoration: none;
		color: #33C3FF;
		font-weight: 900;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
		.email_link:hover {
			color: #FFAA05;
		}

/*GAME LINKS*/
.game_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game_icon_wrap {
	width: 50%;
	text-align: right;
	margin-right: 3%;
}

.game_icon {
	max-width: 25%;
	border-radius: 20px;
	-webkit-box-shadow: 0 5px 15px rgb(0, 0, 0);
	        box-shadow: 0 5px 15px rgb(0, 0, 0);
}

.game_icon_text {
	color: #fff;
	text-align: center;
	margin-left: 2%;
	max-width: 370px;
	font-size: 16px;
	font-weight: 700;
	margin: 1% auto;
}



.game_links {
	width: 50%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	margin-left: 3%;
}

.game_link__item {
	width: 50%;
	max-width: 200px;
	margin: 0 2%;
	padding: 2% 0;
}
	.game_link__item a {
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		color: #fff;
		text-decoration: none;
		display: block;
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.game_link__item a:hover {
		color: #FFAA05;
		-webkit-transform: scale(1.1);
		    -ms-transform: scale(1.1);
		        transform: scale(1.1);
	}
	.game_link__item i {
		font-size: 4em;
	}

	.fab.fa-apple {
		margin-left: 7%;
	}
	

.game_link__text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	margin-top: 3%;
	margin-left: 6%;
	
}
	.link__text_1 {
		margin-left: 13%;
	}

/*SOCIAL LINKS*/

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #fff;
}
.social__item {
	width: 50%;
	max-width: 200px;
	margin: 0 -3%;
}
	.social__item i {
		font-size: 4em;
	}

.social__item a {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	color: #fff;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 50%;
}
.social__item a:hover {
	color: #FFAA05;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.social__text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
	margin-top: 10%;
}

.important {
	font-weight: 900;
	color: #33C3FF;
}


/*LAST*/
.last_p {
	text-align: center;
	margin-bottom: 2%;
}

/**********MEDIA**********/
@media screen and (max-width: 991px) {
	.h2 {
		font-size: 34px;
		margin-top: 2%;
	}
	.h2.white.margin-0:after {
		max-width: 340px;
	}
	.h2--first {
		margin-top: 0;
	}

	.clues_section .clue_block {
		width: 47%;
	}

	.clue_block__header {
		margin-bottom: 2%;
	}
}

@media screen and (max-width: 850px) {
	.game_icon {
		max-width: 35%;
	}
}

@media screen and (max-width: 767px) {
	.logo {
		max-width: 160px;
	}

	.first_p {
		width: 80%;
	}

	.h2 {
		font-size: 30px;
	}
	.h2.white.margin-0:after {
		max-width: 290px;
	}
	.h2--number5 {
		margin-top: 3%;
	}

	.margin-0 {
		margin: 0;
	}

	.more-padding {
		padding: 3%;
	}

	.flex_section {
		display: block;
	}

		.recording {
			margin: 2% auto;
			display: block;
			width: 50%;
		}

		.center-767 {
			text-align: center;
		}

		.flex_text .right {
			text-align: center;
		}

		.game_link__item {
			font-size: 0.8em;
		}

		.social__item {
			font-size: 0.8em;
		}

		
	.info_why {
		margin-left: 2%;	
	}
}

@media screen and (max-width: 650px) {
	.game_icon_wrap {
		margin-right: 6%;
	}
	.game_icon {
		max-width: 40%;
	}
	
}

@media screen and (max-width: 600px) {
	.h2 {
		font-size: 27px;
	}
	.h2.white.margin-0:after {
		max-width: 270px;
	}

	.container {
		padding: 15px;
	}

	.clues_section {
		display: block;
	}
		.clues_section .clue_block {
			width: 100%;
		}
		.clue_block {
			width: 100%;
		}
}

@media screen and (max-width: 550px) {
	p {
		font-size: 15px;
	}

	.game_icon_text {
		font-size: 15px;
	}

	.game_icon_wrap {
		margin-right: 7%;
	}
	.game_icon {
		max-width: 40%;
	}

	.first_p {
		text-align: left;
		width: 100%;
		margin-bottom: 4%;
	}

	.game_link__item {
		font-size: 0.7em;
	}

	.social {
		margin-bottom: 2%;
	}

	.social__item {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 450px) {
	.h2 {
		font-size: 24px;
	}
	.h2.h2--number2 {
		text-align: left;
		margin-top: 3%;
	}
	.h2.white.margin-0:after {
		max-width: 230px;
	}

	.recording {
		width: 70%;
	}

	.game_icon {
		max-width: 47%;
	}


}

@media screen and (max-width: 400px) {
	.game_links {
		display: block;
		margin-left: 7%;

	}
	.game_link__item {
		font-size: 0.7em;
		margin: 7% auto;
		width: 100%;
	}

	.game_icon_wrap {
		margin-right: 7%;
	}
	.game_icon {
		max-width: 60%;
	}

	.social {
		display: block;
	}

	.social__item {
		margin: 3% auto;
		margin-top: 5%;
		width: 100%;
	}

}